$base-values-map: (
  base-neutral-light: #ffffff,
  base-neutral-dark: #c6c6c6,
  base-neutral-dark-shade: #999999,

  base-status-active: #9eba47,
  base-status-active-shade: #b1c76b,

  base-status-warning: #cf8a3c,
  base-status-warning-shade: #e3a35b,

  base-status-error: #bf4949,
  base-status-error-shade: #d86970,

  base-status-disable: #c6c6c6,
  base-status-disable-shade: #999999,
);
