$first-value-map:(
    name: "first",

    text-color: #F9F871,

    main-color: #474CB4,
    main-color-shade: #6C6AD7,
    main-color-shade2: #D8CDFF,

    main-second-color: #00AC8A,
    main-second-color-shade: #00A0A3,
)