$second-value-map:(
    name: "second",

    text-color: #F9F871,

    main-color: #30B3F2,
    main-color-shade: #007B9C,
    main-color-shade2: #D8CDFF,

    main-second-color: #A92C69,
    main-second-color-shade: #A3529F,
)