<!-- 
    https://mycolor.space/
    https://randomcolorgenerator.net/
 -->
<div class="grid first base">

    <div class="header main-color">
        <span class="text-neutral-light">HEADER with class text-neutral-light</span>
        &nbsp;
        <span class="text-color">HEADER with class text-color</span>
    </div>
    <div class="content-left main-color-shade">
        <span class="text-color">CONTENT-LEFT a lot of text must be here</span>
    </div>

    <div class="content-right main-second-color">
        <span class="text-color">CONTENT-RIGHT a lot of text must be here</span>
    </div>

    <div class="footer main-second-color-shade">
        <span class="text-color">FOOTER text is here</span>
    </div>   

</div>

<br><br>

<div class="grid second base">

    <div class="header main-color">
        <span class="text-neutral-light">HEADER with class text-neutral-light</span>
        &nbsp;
        <span class="text-color">HEADER with class text-color</span>
    </div>
    <div class="content-left main-color-shade">
        <span class="text-color">CONTENT-LEFT a lot of text must be here</span>
    </div>

    <div class="content-right main-second-color">
        <span class="text-color">CONTENT-RIGHT a lot of text must be here</span>
    </div>

    <div class="footer main-second-color-shade">
        <span class="text-color">FOOTER text is here</span>
    </div>   

</div>
